<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/global.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
</head>

<body>
    <div class="grid-main">
        <nav class="grid1-main">
            {% include 'includes/navbar.html' %}
        </nav>
        <div class="grid2-main">
            <div class="container">
                <!-- id, název, známka, finální známka, body, procenta -->
                {% for i in subjects %}
                <a href="{{ url_for('subject', subject_id=i[0]) }}">
                    <div class="grid">
                        <div class="grid1">{{i[1]}}
                            <hr class="hr-display">
                        </div>
                        <div class="grid2">{{i[2]}}</div>
                        <div class="grid3">{{i[4]}}</div>
                        <div class="grid4">{{i[5]}}</div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="grid3-main" id="znamky">
            <div class="container">
                <!-- navigace -->
                <div class="grid-navigace">

                    {% if current > 1 %}
                    <a href="{{ url_for('home', page=current - 1, _anchor='znamky' ) }}">
                        <div class="grid-navigace-1">
                            < </div>
                    </a> <!-- známka -->
                    {% else %}
                    <span></span>
                    {% endif %}

                    {% if current < total %} <a href="{{ url_for('home', page=current + 1, _anchor='znamky' ) }}">
                        <div class="grid-navigace-2"> > </div>
                        </a> <!-- předmět -->
                        {% else %}
                        <span></span>
                        {% endif %}


                        <div class="grid-navigace-3">{{ current }} / {{ total }}</div> <!-- datum -->

                </div>
                <hr style="width: 100%; border: 1px solid black; border-radius: 5px;">
                <!-- datum, název, předmět, procenta, body, popis, známka -->
                {%for row in znamky%}
                <div class="grid-znamka">
                    <div class="grid-znamka-1">{{row[6]}}</div> <!-- známka -->
                    <div class="grid-znamka-2">{{row[0]}}</div> <!-- datum -->
                    <div class="grid-znamka-3">{{row[1]}}</div> <!-- název -->
                    <div class="grid-znamka-4">{{row[3]}}</div> <!-- procenta -->
                    <div class="grid-znamka-5">{{row[4]}}</div> <!-- body -->
                    <div class="grid-znamka-6">{{row[5]}}</div> <!-- popis -->
                    <div class="grid-znamka-7">{{row[2]}}</div> <!-- předmět -->
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</body>

</html>