<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
</head>

<body>
    <div class="grid-main">
        <nav class="grid1-main">
            něco
        </nav>
        <div class="grid2-main">
            <div class="container">
                {% for id,name in subjects.items() %}
                <div class="container-child">

                    <a href="{{ url_for('subject', subject_id=id) }}">
                        <div class="grid">
                            <div class="grid1">
                                {{name}}
                                <hr class="hr-display">
                            </div>

                            <div class="grid2">
                               3
                            </div>

                            <div class="grid3">
                                67/100
                            </div>

                            <div class="grid4">
                                67%
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="grid3-main">
            <h1>Grid 3 here!</h1>
        </div>
    </div>
</body>

</html>