<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/global.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/portfolio.css') }}">
</head>

<body>
    <div class="grid-main">
        <nav class="grid1-main">
            {% include 'includes/navbar.html' %}
        </nav>
        <div class="grid2-main">
            <div class="container-main">

                <div class="container-total">
                    <div style="text-align: right;">
                        {{ portfolio["place"] }}. ve třídě
                    </div>
                    <div style="text-align: left;">
                        Celkem: {{ portfolio["points"] }}
                    </div>
                </div>

                <div class="container">
                    {% for data in portfolio["data"] %}
                    <div class="grid">
                        <div class="grid1">
                            <h2>{{ data["name"] }}</h2>
                        </div>

                        <div class="grid2">
                            <h2>{{ data["points"] }}</h2>
                        </div>

                        <div class="grid3">
                            {% for item in data["items"] %}
                            <div class="grid-portfolio">

                                <div class="grid-portfolio-1">
                                    {{ item["name"] }}
                                </div>

                                <div class="grid-portfolio-2">
                                    {{ item["description"] }}
                                </div>

                                <div class="grid-portfolio-3">
                                    {{ item["points"] }}
                                </div>

                            </div>
                            {% endfor %}

                            <!--
                            <div class="grid-portfolio">
                                <div class="grid-portfolio-1">
                                    Ajina
                                </div>
                                <div class="grid-portfolio-2">
                                    67. místo
                                </div>
                                <div class="grid-portfolio-3">
                                    67
                                </div>
                            </div>

                            <div class="grid-portfolio">
                                <div class="grid-portfolio-1">
                                    Nemcina
                                </div>
                                <div class="grid-portfolio-2">
                                    Finále Soutěže v předčítání německého textu Bücherwurm, kategorie Kreativ, 2. místo
                                </div>
                                <div class="grid-portfolio-3">
                                    69
                                </div>
                            </div>
                            -->

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>