.container-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  /*centering*/
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  /*border: 2px solid #1F2A40;*/
  aspect-ratio: 1 / 1;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.subcontainer {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  gap: 5px;
}

input[type=password],
input[type=text] {
  box-sizing: border-box;
  padding: 6px;
  border-radius: var(--border-radius);
  width: 100%;
  margin: 5px 0;
  border: 2px solid #1F2A40;
  background-color: #EEF2FA;
}

input[type=submit] {
  box-sizing: border-box;
  padding: 6px;
  border-radius: var(--border-radius);
  border: 2px solid #1F2A40;
  background-color: #E4E4E4;
  cursor: pointer;
  width: 100%;
}

.logo{
  width: 100px;
}