.grid-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    padding: 0;
}

.grid1-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
    background-color: #1F2A40;
    margin: 0;
    padding: var(--padding);
    color: #ffffff;
}

.grid2-main {
    grid-area: 2 / 1 / 3 / 3;
    text-align: left;
}
@media (max-width: 768px) {
    .grid2-main {
        padding: 15px 20px;
    }
}

/* container for grids*/
.container {
    display: flex;
    gap: 15px;
    padding: 15px;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: var(--border-radius);
    flex-wrap: nowrap;
    align-items: stretch;
}

/* big container for smaller containers and grids*/
.container-main {
    display: flex;
    gap: 8px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    background-color: #e4e4e4;
    padding: var(--padding) 15px;
    border-radius: var(--border-radius);
}

.grid1 {
    grid-area: 1 / 1 / 2 / 2;
    text-align: left;
    border-bottom: 2px solid black;
}

.grid2 {
    grid-area: 1 / 2 / 2 / 3;
    text-align: right;
    border-bottom: 2px solid black;
    padding: 0px 8px;
    /**/
}

.grid3 {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

hr {
    border: 1px solid black;
    border-radius: 5px;
}

.grid-portfolio {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    margin-bottom: 0px;
    padding: 12px 14px;
}

.grid-portfolio:not(:first-child) {
    border-top: 1px solid black;
}

.grid-portfolio-1 {
    grid-area: 1 / 1 / 2 / 2;
    text-align: left;
}

.grid-portfolio-2 {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
}

.grid-portfolio-3 {
    grid-area: 1 / 3 / 2 / 4;
    text-align: right;
}

.container-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 20px;
    background-color: #FFFFFF;
    border-radius: var(--border-radius);
    font-weight: bold;
    font-size: 24px;
}